.saved-view {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  border: 1px solid var(--dark-accent);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  width: 30vw;
  height: 30vh;
  padding: 1rem;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}
