body {
  background-color: var(--bg-color);
}

.main-title {
  text-align: center;
  font-family: 'Square Peg', cursive;
  font-size: 5vw;
}

button {
  border: 1px solid #333;
  width: 20vw;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  box-shadow: 0 0 1vh #333;
}
